/* CSS DA "ABORDAGEM"*/

.abordagem-bg {
  background: var(--cor-5);
  padding: 120px 0 80px 0;
}

.abordagem-container {
  max-width: 1600px;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
}

.abordagem-textos {
  margin-left: 220px;
}

.abordagem-textos h1 {
  margin-bottom: 80px;
}

.abordagem-textos p {
  margin-bottom: 80px;
  max-width: 660px;
}

.abordagem-textos p:last-of-type {
  margin-bottom: 0px;
}

.flor-retangulo {
  position: relative;
}

.flor-retangulo img {
  max-width: 100%;
  height: 1332px;
  display: block;
  object-fit: cover;
  position: absolute;
  top: -1136px;
  left: 1020px;
}

.scroll-dica {
  display: none;
}

@media (max-width: 1475px) {
  .flor-retangulo img {
    width: 360px;
    height: 1090px;
    overflow: hidden;
    border-radius: 0;
    top: -1015px;
    left: 1000px;
  }
}

@media (max-width: 1420px) {
  .flor-retangulo img {
    width: 340px;
    left: 960px;
  }
}

@media (max-width: 1360px) {
  .flor-retangulo img {
    width: 300px;
    left: 960px;
  }
}

@media (max-width: 1320px) {
  .flor-retangulo img {
    width: 254px;
    left: 954px;
  }
}

@media (max-width: 1260px) {
  .flor-retangulo img {
    display: none;
  }
  .abordagem-textos {
    justify-items: center;
    margin-left: 0px;
  }
  .abordagem-textos p {
    text-align: justify;
  }
}

@media (max-width: 1200px) {
  .abordagem-textos {
    margin-top: -20px; /* Equivalente a 100px do top*/
  }
}

@media (max-width: 850px) {
  .abordagem-textos p {
    line-height: 2rem; /* Perguntar pra Lara se ela prefere 1.875, que eh o resultado de 1.25 x 1,5* ou se mantem em 2 msm.*/
  }
}

@media (max-width: 800px) {
  .abordagem-textos p {
    max-width: 580px;
  }
}

@media (max-width: 750px) {
  .abordagem-textos p {
    font-size: 1.25rem;
    max-width: 580px;
  }
  @media (max-width: 700px) {
    .abordagem-textos p {
      max-width: 540px;
    }
  }
}

@media (max-width: 680px) {
  .abordagem-textos h1 {
    margin-bottom: 72px;
  }
  .abordagem-textos p {
    line-height: 1.8rem;
  }
}

@media (max-width: 650px) {
  .abordagem-textos {
    margin-top: -28px;
  }
  .abordagem-textos h1 {
    font-size: 1.75rem;
    margin-bottom: 60px;
  }
  .abordagem-textos p {
    max-width: 500px;
  }
}

@media (max-width: 630px) {
  .abordagem-textos p {
    font-size: 1.125rem;
  }
}

@media (max-width: 600px) {
  .abordagem-textos {
    margin-top: -48px;
  }
  .abordagem-textos h1 {
    font-size: 1.5rem;
  }
  .abordagem-textos p {
    max-width: 480px;
  }
}

@media (max-width: 580px) {
  .abordagem-textos {
    margin-top: -60px;
  }
  .abordagem-textos h1 {
    margin-bottom: 60px;
  }
  .abordagem-textos p {
    max-width: 440px;
  }
}

@media (max-width: 530px) {
  .abordagem-textos p {
    max-width: 400px;
  }
}

@media (max-width: 480px) {
  .abordagem-textos {
    position: relative;
  }
  .abordagem-textos p {
    max-width: 360px;
    margin-bottom: 0;
  }
  .scroll {
    display: flex;
    flex-direction: row;
    gap: 40px;
    overflow-x: auto;
    overflow-y: hidden;
    max-width: 100%;
    box-sizing: border-box;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    padding-inline: calc(
      (100vw - 360px) / 2
    ); /* ----- Nesse caso, de 480px de tela, dá 60px e é o valor que deixa os conteúdos alinhados ao centro em relação ao h1, pois 480px - 360 de with = 60px. Deixei em formato de cálculo para ser responsivo.*/
    /* ---- Existe a opção de deixar como: padding-inline: max(calc((100vw - 360px) / 2), 40px) --> esse 40px ao final do cálculo não deixa o padding ser menor que 40px de cada lado, mas até agora não foi necessário.*/
    margin-bottom: 28px;
  }
  .scroll::-webkit-scrollbar {
    /* Some com a barra de scroll */
    display: none;
  }
  .scroll p {
    min-width: 360px;
    max-width: 100%;
    scroll-snap-align: center;
  }
  .scroll-dica {
    text-align: center;
    font-size: 14px;
    color: #888;
    margin-top: 8px;
    animation: fadeOut 6s ease forwards;
  }
  .scroll-dica {
    display: block;
    position: absolute;
    bottom: -40px;
    left: 50%;
    transform: translateX(-50%);
    pointer-events: none;
    transition: opacity 0.3s ease;
    animation: bounce 1.2s ease-in-out infinite alternate;
  }
  @keyframes bounce {
    0% {
      transform: translateX(-50%) translateY(0);
    }
    50% {
      transform: translateX(-50%) translateY(-5px); /* sobe um pouquinho */
    }
    100% {
      transform: translateX(-50%) translateY(0); /* volta pro lugar */
    }
  }
  .scroll-dica.hidden {
    opacity: 0;
  }
}

@media (max-width: 431px) {
  .abordagem-textos h1 {
    font-size: 1.25rem;
    margin-bottom: 40px;
  }
  .abordagem-textos p {
    font-size: 1rem;
    line-height: 1.5rem;
  }
  .scroll {
    padding-inline: max(calc((100vw - 320px) / 2), 40px);
  }
  .scroll p {
    min-width: 320px;
  }
}

@media (max-width: 420px) {
  .abordagem-textos p {
    max-width: 328px;
  }
}

@media (max-width: 376px) {
  .abordagem-textos p {
    max-width: 312px;
  }
}
