/* CSS DA "ABORDAGEM"*/

.abordagem-bg {
  background: var(--cor-5);
  padding: 120px 0 80px 0;
}

.abordagem-container {
  max-width: 1600px;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
}

.abordagem-textos {
  margin-left: 220px;
}

.abordagem-textos h1 {
  margin-bottom: 80px;
}

.abordagem-textos p {
  margin-bottom: 80px;
  max-width: 660px;
}

.abordagem-textos p:last-of-type {
  margin-bottom: 0px;
}

.flor-retangulo {
  position: relative;
}

.flor-retangulo img {
  max-width: 100%;
  height: 1332px;
  display: block;
  object-fit: cover;
  position: absolute;
  top: -1136px;
  left: 1020px;
}

@media (max-width: 1475px) {
  .flor-retangulo img {
    width: 360px;
    height: 1090px;
    overflow: hidden;
    border-radius: 0;
    top: -1015px;
    left: 1000px;
  }
}

@media (max-width: 1420px) {
  .flor-retangulo img {
    width: 340px;
    left: 960px;
  }
}

@media (max-width: 1360px) {
  .flor-retangulo img {
    width: 300px;
    left: 960px;
  }
}

@media (max-width: 1320px) {
  .flor-retangulo img {
    width: 254px;
    left: 954px;
  }
}

@media (max-width: 1260px) {
  .flor-retangulo img {
    display: none;
  }
  .abordagem-textos {
    justify-items: center;
    margin-left: 0px;
  }
  .abordagem-textos p {
    text-align: justify;
  }
}

@media (max-width: 1200px) {
  .abordagem-textos {
    margin-top: -20px; /* Equivalente a 100px do top*/
  }
}

@media (max-width: 850px) {
  .abordagem-textos p {
    line-height: 2rem; /* Perguntar pra Lara se ela prefere 1.875, que eh o resultado de 1.25 x 1,5* ou se mantem em 2 msm.*/
  }
}

@media (max-width: 800px) {
  .abordagem-textos p {
    max-width: 580px;
  }
}

@media (max-width: 750px) {
  .abordagem-textos p {
    font-size: 1.25rem;
    max-width: 580px;
  }
  @media (max-width: 700px) {
    .abordagem-textos p {
      max-width: 540px;
    }
  }
}

@media (max-width: 680px) {
  .abordagem-textos h1 {
    margin-bottom: 72px;
  }
  .abordagem-textos p {
    line-height: 1.8rem;
  }
}

@media (max-width: 650px) {
  .abordagem-textos {
    margin-top: -28px;
  }
  .abordagem-textos h1 {
    font-size: 1.75rem;
    margin-bottom: 60px;
  }
  .abordagem-textos p {
    max-width: 500px;
  }
}

@media (max-width: 630px) {
  .abordagem-textos p {
    font-size: 1.125rem;
  }
}

@media (max-width: 600px) {
  .abordagem-textos {
    margin-top: -48px;
  }
  .abordagem-textos h1 {
    font-size: 1.5rem;
  }
  .abordagem-textos p {
    max-width: 480px;
  }
}

@media (max-width: 580px) {
  .abordagem-textos {
    margin-top: -60px;
  }
  .abordagem-textos h1 {
    margin-bottom: 60px;
  }
  .abordagem-textos p {
    max-width: 440px;
  }
}

@media (max-width: 530px) {
  .abordagem-textos p {
    max-width: 400px;
  }
}

@media (max-width: 480px) {
  .abordagem-textos p {
    max-width: 360px;
  }
}

@media (max-width: 431px) {
  .abordagem-textos h1 {
    font-size: 1.25rem;
    margin-bottom: 40px;
  }
  .abordagem-textos p {
    font-size: 1rem;
    line-height: 1.5rem;
    max-width: 340px;
  }
}

@media (max-width: 420px) {
  .abordagem-textos p {
    max-width: 328px;
  }
}

@media (max-width: 376px) {
  .abordagem-textos p {
    max-width: 312px;
  }
}
