.atendimento-bg {
  background-color: #ffffff;
}

.atendimento-container {
  display: grid;
  grid-template-columns: 4fr 8fr;
  max-width: 1600px;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
}

.atendimento-textos {
  padding-top: 120px;
  padding-left: 220px;
}

.atendimento-textos h1 {
  margin-bottom: 80px;
}
.atendimento-textos h2 {
  margin-bottom: 12px;
}

.atendimento-textos p {
  width: 335px;
  margin-bottom: 12px;
}

.atendimento-textos .flex:nth-of-type(2) p {
  margin-bottom: 40px;
}

.mapa {
  padding-left: 65px;
  padding-top: 248px;
  margin-bottom: 80px;
  overflow: hidden;
}

.mapa iframe {
  max-width: 100%;
  object-fit: cover;
}

.flex {
  display: flex;
  align-items: start;
  margin-left: -36px;
  gap: 12px;
}

.icone-local {
  margin-top: 4px;
}

.icone-globo {
  margin-top: 4px;
}

@media (max-width: 1400px) {
  .mapa {
    margin-right: 120px;
  }
}
@media (max-width: 1250px) {
  .atendimento-textos {
    padding-top: 92px;
  }
}

@media (max-width: 1200px) {
  .atendimento-textos {
    padding-left: 140px;
  }
  .mapa {
    margin-right: 100px;
  }
}

@media (max-width: 1100px) {
  .atendimento-container {
    grid-template-columns: 1fr 1fr;
    gap: 60px;
  }
  .atendimento-textos {
    padding-left: 100px;
  }
  .mapa {
    margin-right: 80px;
    padding-left: 0;
  }
  .flex {
    margin-left: 0px;
  }
}

@media (max-width: 960px) {
  .atendimento-container {
    gap: 40px;
  }
  .atendimento-textos {
    padding-left: 80px;
  }
  .mapa {
    margin-right: 60px;
  }
}

@media (max-width: 860px) {
  .atendimento-container {
    grid-template-columns: 1fr;
    justify-items: center;
  }
  .atendimento-textos h1 {
    justify-self: center;
  }
  .atendimento-textos p {
    max-width: 560px;
    width: 100%;
    text-align: justify;
  }
  .atendimento-textos {
    padding-left: 0px;
  }
  .mapa {
    margin-right: 40px;
    margin-left: 40px;
    padding-top: 20px;
  }
  .flex {
    margin-left: 0px;
  }
}

@media (max-width: 650px) {
  .atendimento-textos {
    padding-top: 84px;
  }
}

@media (max-width: 600px) {
  .atendimento-textos {
    padding-top: 68px;
  }
}
