.atendimento-bg {
  background-color: #ffffff;
}

.atendimento-container {
  display: grid;
  grid-template-columns: 4fr 8fr;
  max-width: 1600px;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
}

.atendimento-textos {
  padding-top: 120px;
  padding-left: 220px;
}

.atendimento-textos h1 {
  margin-bottom: 80px;
}
.atendimento-textos h2 {
  margin-bottom: 12px;
}

.atendimento-textos p {
  width: 335px;
  margin-bottom: 12px;
}

.atendimento-textos .flex:nth-of-type(2) p {
  margin-bottom: 40px;
}

.mapa {
  padding-left: 65px;
  padding-top: 248px;
  margin-bottom: 80px;
}

.flex {
  display: flex;
  align-items: start;
  margin-left: -36px;
  gap: 12px;
}

.icone-local {
  margin-top: 4px;
}

.icone-globo {
  margin-top: 4px;
}
