@import "./utilitario/tipografia.css";
@import "./utilitario/cores.css";

/* RESET */

body {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f7f7f7;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

p,
h1,
h2,
h3,
h4,
ul,
p,
blockquote,
dd {
  margin: 0px;
}

a {
  text-decoration: none;
  color: inherit;
}

/* CSS DO HEADER */

.header-bg {
  background-color: #000000;
}

.header-container {
  padding: 32px;
  display: flex;
  align-items: center;
  max-width: 1200px;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

.lista-header {
  display: flex;
  flex-wrap: wrap;
  gap: 80px;
}

.lista-header a {
  display: inline-block;
  padding: 8px 0px; /* Para aumentar área do contato do click */
}

.lista-header a::after {
  content: "";
  display: block;
  margin-top: -2px;
  height: 2px;
  width: 0%;
  background: #fff;
}

.lista-header a:hover:after {
  width: 100%;
  transition: 0.3s;
}

@media (max-width: 800px) {
  .lista-header {
    gap: 36px;
    justify-content: center;
  }
  .lista-header li {
    font-size: 1.125rem;
  }
  .lista-header a {
    background-color: #111;
    padding: 8px 8px;
    border-radius: 4px;
  }
}

@media (max-width: 600px) {
  .lista-header {
    gap: 28px;
  }
  .lista-header li {
    font-size: 1rem;
  }
}

@media (max-width: 431px) {
  .lista-header {
    gap: 24px;
  }
  .lista-header li {
    font-size: 0.875rem;
  }
}

/* CSS DA PARTE DA FLOR */

.apresentacao-flor-bg {
  background-color: #111111;
}

.apresentacao-flor-container {
  display: grid;
  grid-template-columns: 7fr 5fr;
  max-width: 1600px;
  /* max-width: 1200px; - NÃO SEI DIREITO O QUE FAZER. ACHO QUE SEM ISSO FICA MELHOR, MAS 1600px TAMBÉM FICA BOM, PORÉM TENHO MEDO DE CAGAR O SITE SE DEIXAR SÓ ESSA PARTE "LIVRE"*/
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
}

.apresentacao-texto {
  color: #f7f7f7;
  padding: 120px 0px 80px 220px;
}

.apresentacao-texto p {
  line-height: normal;
  margin-bottom: 8px;
}

.apresentacao-texto h1 {
  line-height: normal;
}

.imagem-flor img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  display: block;
}

@media (max-width: 1200px) {
  .imagem-flor {
    display: none;
  }
  .apresentacao-flor-container {
    grid-template-columns: 1fr;
    justify-items: center;
  }
  .apresentacao-texto {
    padding: 60px 0px 60px 0px;
    justify-content: center;
  }
}

@media (max-width: 600px) {
  .apresentacao-texto p {
    font-size: 1rem;
  }
  .apresentacao-texto h1 {
    font-size: 1.75rem;
  }
}

@media (max-width: 600px) {
  .apresentacao-texto {
    padding: 40px 0px 40px 0px;
  }
  .apresentacao-texto p {
    font-size: 1rem;
  }
  .apresentacao-texto h1 {
    font-size: 1.5rem;
  }
}

@media (max-width: 431px) {
  .apresentacao-texto p {
    font-size: 1rem;
  }
  .apresentacao-texto h1 {
    font-size: 1.25rem;
  }
}

/* CSS DO "SOBRE"*/

.sobre-bg {
  background-color: #ffffff;
}

.sobre-container {
  display: grid;
  grid-template-columns: 6fr 6fr;
  max-width: 1600px;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
}

.sobre-img {
  padding-left: 120px;
}

.sobre-img img {
  height: auto;
  width: 640px;
  object-fit: cover;
  display: block;
}

.sobre-textos {
  padding-left: 140px;
  padding-right: 220px;
  padding-top: 120px;
}

.sobre-textos p {
  margin-bottom: 40px;
}

.sobre-textos p:last-of-type {
  margin-bottom: 60px;
}

.botao {
  display: inline-block;
  padding: 16px 32px;
  background: linear-gradient(#e1bc5b, #ece1c5);
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  font: 600 1.125rem/1.5rem "Noto sans", sans-serif;
  max-width: max-content;
  border: none;
  cursor: pointer;
}

@media (max-width: 1400px) {
  .sobre-container {
    gap: 60px;
  }
  .sobre-img {
    padding-left: 0px;
    object-position: center;
  }
  .sobre-img img {
    height: 100%;
    width: 640px;
    object-fit: cover;
    display: block;
  }
  .sobre-textos p {
    margin-bottom: 60px;
  }
  .sobre-textos p:last-of-type {
    margin-bottom: 80px;
  }
  .sobre-textos {
    padding-left: 0px;
    padding-right: 60px;
    padding-top: 80px;
  }
}

@media (max-width: 1080px) {
  .sobre-img {
    padding-left: 0px;
  }
  .sobre-img img {
    width: 560px;
    object-fit: cover;
  }
  .sobre-textos p {
    margin-bottom: 40px;
  }
  .sobre-textos p:last-of-type {
    margin-bottom: 60px;
  }
  .sobre-textos {
    padding-right: 60px;
    padding-top: 60px;
  }
}

@media (max-width: 940px) {
  .sobre-img img {
    width: 420px;
  }
  .sobre-textos {
    padding-top: 40px;
  }
  .sobre-textos p {
    font-size: 1.25rem;
    line-height: 1.875rem;
  }
  .botao {
    margin-bottom: 20px;
  }
}

@media (max-width: 800px) {
  .sobre-container {
    gap: 40px;
  }
  .sobre-img img {
    height: 100%;
    width: 320px;
  }
  .botao {
    margin-bottom: 20px;
  }
}

@media (max-width: 685px) {
  .sobre-img img {
    height: 100%;
    width: 280px;
  }
  .sobre-container {
    gap: 40px;
  }
  .sobre-textos {
    padding-top: 28px;
  }
  .sobre-textos p {
    font-size: 1rem;
    line-height: 1.5rem;
  }
  .sobre-textos p {
    margin-bottom: 24px;
  }
  .sobre-textos p:last-of-type {
    margin-bottom: 40px;
  }
  .botao {
    font-size: 1rem;
    padding: 12px 12px;
  }
}

@media (max-width: 580px) {
  .sobre-container {
    grid-template-columns: 1fr;
  }
  .sobre-img img {
    display: none;
  }
  .sobre-textos {
    justify-items: center;
    margin: 0;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 4px;
  }
  .sobre-textos p {
    text-align: center;
    margin-bottom: 36px;
  }
  .sobre-textos p:last-of-type {
    margin-bottom: 60px;
  }
  .botao {
    font-size: 0.875rem;
    padding: 8px 12px;
    margin-bottom: 40px;
  }
}
