@import "./utilitario/tipografia.css";
@import "./utilitario/cores.css";
@import "/header.css";
@import "/nome.css";
@import "/sobre.css";
@import "/abordagem.css";

/* RESET */

body {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f7f7f7;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

p,
h1,
h2,
h3,
h4,
ul,
p,
blockquote,
dd {
  margin: 0px;
}

a {
  text-decoration: none;
  color: inherit;
}
